<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <form>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :department, class: "form-label" %>
        <%= form.collection_select  :department_id, Department.order(:name),:id,:name, {}, { :class=> "form-select form-select-lg mb-3" } %>
      </div>
      <%= form.button "Create", type: "submit", :class=> "btn btn-primary" %>
    </form>
  </div>
<% end %>
