<p style="color: green"><%= notice %></p>

<h1>Mystery Lunches</h1>
<div id="mystery_lunches">
  <div class="container m-2">
    <% unless @mystery_lunches.empty? %>
      <%= form_with url: "/mystery_lunches", method: :get do |form| %>
        <%= form.select :month, 1..12 %>

        <%= form.select :year, Date.today.year.. MysteryLunch.last.created_at.year %>
        <div>
          <%= form.button "Filter", type: "submit", :class=> "btn btn-primary" %>

        </div>
      <% end %>
    <% end %>
  </div>

<div class="container m-2">
  <% @mystery_lunches.each do |mystery_lunch| %>
    <%= render mystery_lunch %>
  <% end %>
</div>

</div>

